<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Breadcrumb | Lijtmaer
    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.breadcrumb.css">

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>

    <!-- ! BREADCRUMB: Start -->
    <nav class="c-breadcrumb" aria-label="Breadcrumb">
        <ol class="c-breadcrumb__list">
            <li class="c-breadcrumb__item"><a class="c-link" href="/">Venta </a></li>
            <li class="c-breadcrumb__item"><a class="c-link" href="/">Apartamentos</a></li>
            <li class="c-breadcrumb__item"><a class="c-link" href="/">Playa Brava</a></li>
            <li class="c-breadcrumb__item"><a class="c-link" href="/">Tiburón 3</a></li>
        </ol>
    </nav>
    <!-- ! BREADCRUMB: End -->

</body>

</html>