<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">


    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>
  <div class="o-section o-wrapper"  style="display: flex; gap: 1em; flex-wrap: wrap;">
    <a href="/" class="c-btn">Contactanos</a>
    <a href="/" class="c-btn c-btn--secondary">Contactanos</a>
    <a href="/" class="c-btn c-btn--secondary c-btn--icon"><span class="icon-whatsapp"></span>Contactanos</a>
    <a href="/" class="c-btn c-btn--icon"><span class="icon-whatsapp"></span>Contactanos</a>

  </div>
</body>

</html>