<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Categories | Lijtmaer
    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.categories.css">


    

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>

    <div class="o-section o-wrapper">

        <!-- ! CATEGORIES: Start -->
        <nav class="c-categories">
            <h2 class="u-hidden-for-seo">Filtro por categorías</h2>

            <ul class="c-categories__list">
                <li>
                    <a href="" class="c-categories__item is-active">
                        <span class="c-categories__icon icon-cat-frente-mar"></span>
                        <span class="c-categories__text">Frente al mar</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-estreno"></span>
                        <span class="c-categories__text">A estrenar</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-reciclado"></span>
                        <span class="c-categories__text">Reciclado</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-oportunidad"></span>
                        <span class="c-categories__text">Oportunidad</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-casa-arena"></span>
                        <span class="c-categories__text">Casa sobre <br> la arena</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-apa-arena"></span>
                        <span class="c-categories__text">Apartamento <br> sobre la arena</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-comercial"></span>
                        <span class="c-categories__text">Local comercial</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-campo"></span>
                        <span class="c-categories__text">Campo <br>
                            only land</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-maritima"></span>
                        <span class="c-categories__text">Chacra marítima</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-esquinero"></span>
                        <span class="c-categories__text">Terreno <br> esquinero</span>
                    </a>
                </li>
                <li>
                    <a href="" class="c-categories__item">
                        <span class="c-categories__icon icon-cat-barrio-privado"></span>
                        <span class="c-categories__text">Barrio Cerrado</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- ! CATEGORIES: End -->

    </div>


    </div>

</body>

</html>