<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">

    <link rel="stylesheet" href="/assets/css/sitio/component.check-item.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.popup.css">



    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">



</head>

<body>

    <div class="c-box o-wrapper o-section">

        <div class="c-check-item">
            <input type="checkbox" id="check-item-1">
            <label for="check-item-1" class="c-check-item__checkbox"></label>
            <div class="c-check-item__item">
                <picture class="c-check-item__pic c-pic">
                    <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Check Item">
                </picture>

                <div class="c-check-item__content">
                    <h3 class="u-heading">Sierra Ballena II</h3>
                    <span class="c-check-item__text">Código <span>LIJT3434</span></span>
                    <span class="c-check-item__priceu-heading">USD 100.000</span>
                    <a href="/" class="c-link">Eliminar</a>
                </div>
            </div>
        </div>

        <div class="c-check-item">
            <input type="checkbox" id="check-item-2">
            <label for="check-item-2" class="c-check-item__checkbox"></label>
            <div class="c-check-item__item">
                <picture class="c-check-item__pic c-pic">
                    <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Check Item">
                </picture>

                <div class="c-check-item__content">
                    <h3 class="u-heading">Sierra Ballena II</h3>
                    <span class="c-check-item__text">Código <span>LIJT3434</span></span>
                    <span class="c-check-item__price u-heading">USD 100.000</span>
                    <a href="/" class="c-link">Eliminar</a>
                </div>
            </div>
        </div>

        <a class="u-push-t-xl c-btn c-btn--secondary js-showPopup" href="#popup-favorite"><span
                class="icon-heart"></span>Favoritos</a>

        <div class="c-popup" id="popup-favorite">
            <div class="c-popup__overlay js-popupOverlay"></div>
            <div class="c-popup__holder">
                <button class="c-popup__close icon-cross js-hidePopup"></button>

                <h2 class="c-popup__title u-heading u-heading--border u-heading--centered"><span
                        class="icon-heart"></span>Favoritos<span></span></h2>


                <ul class="c-list-check-item">
                    <li class="c-check-item">
                        <input type="checkbox" id="check-item-3">
                        <label for="check-item-3" class="c-check-item__checkbox"></label>
                        <div class="c-check-item__item">
                            <picture class="c-check-item__pic c-pic">
                                <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Check Item">
                            </picture>

                            <div class="c-check-item__content">
                                <h3 class="u-heading">Sierra Ballena II</h3>
                                <span class="c-check-item__text">Código <span>LIJT3434</span></span>
                                <span class="c-check-item__price u-heading">USD 100.000</span>
                                <a href="/" class="c-link">Eliminar</a>
                            </div>
                        </div>

                    </li>

                    <li class="c-check-item">
                        <input type="checkbox" id="check-item-4">
                        <label for="check-item-4" class="c-check-item__checkbox"></label>
                        <div class="c-check-item__item">
                            <picture class="c-check-item__pic c-pic">
                                <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Check Item">
                            </picture>

                            <div class="c-check-item__content">
                                <h3 class="u-heading">Sierra Ballena II</h3>
                                <span class="c-check-item__text">Código <span>LIJT3434</span></span>
                                <span class="c-check-item__price u-heading">USD 100.000</span>
                                <a href="/" class="c-link">Eliminar</a>
                            </div>
                        </div>

                    </li>

                    <li class="c-check-item">
                        <input type="checkbox" id="check-item-5">
                        <label for="check-item-5" class="c-check-item__checkbox"></label>
                        <div class="c-check-item__item">
                            <picture class="c-check-item__pic c-pic">
                                <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Check Item">
                            </picture>

                            <div class="c-check-item__content">
                                <h3 class="u-heading">Sierra Ballena II</h3>
                                <span class="c-check-item__text">Código <span>LIJT3434</span></span>
                                <span class="c-check-item__price u-heading">USD 100.000</span>
                                <a href="/" class="c-link">Eliminar</a>
                            </div>
                        </div>

                    </li>
                </ul>

                <a href="/" class="c-btn c-btn--secondary"><span class="icon-trash"></span>Eliminar favoritos</a>



            </div>
        </div>


    </div>


    <script src="/assets/js/sitio/component.popup.js"></script>
</body>

</html>