<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CTA | Lijtmaer
    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.cta.css">


    

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>
    <!-- ! CTA: Start -->
        <div class="c-cta c-cta--closing">
            <h2 class="c-cta__heading u-heading">Seguí explorando nuestras propiedades</h2>
            <a class="c-btn" href="#">Mostrar más</a>
        </div>
    <!-- ! CTA: End -->
</body>

</html>