<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">

    <link rel="stylesheet" href="/assets/css/sitio/components.dropdown.css">
    <link rel="stylesheet" href="/assets/css/sitio/objects.grid.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.content.css">



    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>
<body>

    <div class="o-section o-wrapper">

        <div class="o-grid">

            <div class="c-dropdown u-radius">
    
                <input id="servicio-1" class="c-dropdown__input" type="checkbox">
        
                <div class="c-dropdown__visible u-radius">
                    <label for="servicio-1" class="c-dropdown__label"></label>
                    
                    <span class="c-dropdown__icon icon-cat-esquinero"></span>
                    <h2 class="c-dropdown__title u-subheading">Elección y Análisis del Terreno</h2>
                    <span class="c-dropdown__arrow icon-angle-down"></span>
                </div>
        
                <div class="c-dropdown__collapsable">
                    <div class="c-dropdown__holder s-content">
                    
                        <p>Prestamos servicios en todas las áreas de la materia: relaciones individuales de trabajo (empleador-trabajador), Derecho sindical (relaciones colectivas de trabajo, entre empresas y sindicatos) y Derecho de la Seguridad Social.</p>
                        
                    </div>
                </div>
            </div>
            

        </div>


    </div>

 
<script src="/assets/js/sitio/component.dropdowns.js"></script>
</body>

</html>