<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Footer | Lijtmaer
    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">


    

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>
    <!-- !FOOTER: Start -->
    <footer class="c-footer">
        <ul class="c-footer__list">
            <li class="c-footer__item">
                <p>© Lijtmaer Propiedades 2025</p>
            </li>
            <li class="c-footer__item"><a href="https://maps.app.goo.gl/pLRdC9wxkVTENGtTA" class="c-link">Av.
                    Gorlero 894. <span>Punta del Este, Uruguay</span></a></li>
            <li class="c-footer__item"><a href="tel:+59842441310" class="c-link">+598 42 441 310</a></li>
            <li class="c-footer__item"><a href="mailto:info@lijtmaer.com" class="c-link">consultas@lijtmaer.com</a>
            </li>
        </ul>

        <ul class="c-footer__list c-footer__list--social">
            <li><a href="/" class="c-footer__social-link c-link"><span class="icon-whatsapp"></span></a></li>
            <li><a href="/" class="c-footer__social-link c-link"><span class="icon-facebook"></span></a></li>
            <li><a href="/" class="c-footer__social-link c-link"><span class="icon-linkedin"></span></a></li>
            <li><a href="/" class="c-footer__social-link c-link"><span class="icon-instagram"></span></a></li>
        </ul>
    </footer>
    <!-- !FOOTER: End -->
</body>

</html>