<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Gallery | Lijtmaer</title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">

    <link rel="stylesheet" href="/assets/css/inline/tiny-slider.css">
    <link rel="stylesheet" href="/assets/css/inline/tiny-slider-custom.css">
    <link rel="stylesheet" href="/assets/css/inline/components.hero.css">

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>

    <!-- !HERO: Start -->
    <div class="c-hero">
        <div class="c-hero__carousel c-hero-carousel js-hero-slider">
            <ul class="c-hero-carousel__list js-carousel">
                <li>
                    <div class="c-hero-carousel__item">
                        <div class="c-hero__logo">
                            <img src="/assets/images/temp/project-logos/logo-essentia.svg" alt="">
                        </div>
                        <p class="c-hero__text u-text">
                            El único proyecto sobre la arena de la Playa Mansa
                        </p>
                    </div>
                </li>

                <li>
                    <div class="c-hero-carousel__item">
                        <div class="c-hero__logo">
                            <img src="/assets/images/temp/project-logos/logo-mon.svg" alt="">
                        </div>
                        <p class="c-hero__text u-text">
                            Item 2
                        </p>
                    </div>
                </li>

                <li>
                    <div class="c-hero-carousel__item">
                        <div class="c-hero__logo">
                            <img src="/assets/images/temp/project-logos/logo-oceano.svg" alt="">
                        </div>
                        <p class="c-hero__text u-text">
                            Item 3
                        </p>
                    </div>
                </li>

                <li>
                    <div class="c-hero-carousel__item">
                        <div class="c-hero__logo">
                            <img src="/assets/images/temp/project-logos/logo-signature.svg" alt="">
                        </div>
                        <p class="c-hero__text u-text">
                            Item 3
                        </p>
                    </div>
                </li>

                <li>
                    <div class="c-hero-carousel__item">
                        <div class="c-hero__logo">
                            <img src="/assets/images/temp/project-logos/logo-india.svg" alt="">
                        </div>
                        <p class="c-hero__text u-text">
                            Item 3
                        </p>
                    </div>
                </li>
            </ul>

            <div class="c-hero__images c-hero-images">
                <picture class="c-hero-images__pic c-pic js-hero-carrusel-img is-visible">
                    <img src="/assets/images/temp/home/essentia.jpg" alt="">
                </picture>
                <picture class="c-hero-images__pic c-pic js-hero-carrusel-img">
                    <img src="/assets/images/temp/home/india.jpg" alt="">
                </picture>
                <picture class="c-hero-images__pic c-pic js-hero-carrusel-img">
                    <img src="/assets/images/temp/home/mon.jpg" alt="">
                </picture>
                <picture class="c-hero-images__pic c-pic js-hero-carrusel-img">
                    <img src="/assets/images/temp/home/mon.jpg" alt="">
                </picture>
                <picture class="c-hero-images__pic c-pic js-hero-carrusel-img">
                    <img src="/assets/images/temp/home/mon.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
    <!-- !HERO: End -->

    <!-- SITIO -->
    <script src="/assets/js/sitio/tiny-slider.js"></script>
    <script src="/assets/js/sitio/component.hero-slider.js"></script>
</body>

</html>