<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Property Card | Lijtmaer
    </title>

    <!-- ! STYLES -->
    <link rel="stylesheet" href="/assets/css/fixed.css">
    <link rel="stylesheet" href="/assets/css/fixed.inline.css">

    <link rel="stylesheet" href="/assets/css/inline/tiny-slider.css">
    <link rel="stylesheet" href="/assets/css/inline/tiny-slider-custom.css">
    <link rel="stylesheet" href="/assets/css/sitio/components.property-card.css">

    <!-- ! ICONS -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/dd6053bc61/Lijmaer/style.css">
</head>

<body>

    <div class="o-wrapper o-section">
        <!-- ! CARDS GRID: Start -->
         <ul class="o-grid o-section">
            <li>
                <!-- ! PROPERTY CARD: Start -->
                <article class="c-property-card">
                    <div class="c-property-card__gallery c-card-gallery js-card-slider">
                        <button class="c-property-card__btn icon-heart"></button>
                        <ul class="js-carousel">
                            <li>
                                <picture class="c-pic">
                                    <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Property 1">
                                </picture>
                            </li>
                            <li>
                                <picture class="c-pic">
                                    <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Property 1">
                                </picture>
                            </li>
                        </ul>
                    </div>
                    <div class="c-property-card__content">
                        <h3 class="c-property-card__heading u-heading">
                            <a class="c-property-card__link" href="#">
                                Apartamento en Punta del Este
                            </a>
                        </h3>
                        <ul class="c-property-card__features c-card-features">
                            <li class="c-card-features__item"><span class="icon-measuring-tape"></span>270 m<small>2</small></li>
                            <li class="c-card-features__item"><span class="icon-room"></span>3</li>
                            <li class="c-card-features__item"><span class="icon-bathroom"></span>2</li>
                        </ul>
                        <p class="c-property-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam, quos.</p>
                        <p class="c-property-card__price">USD 1.080.000</p>
                        <p class="c-property-card__code">Código: LIJ3434</p>
                    </div>
                </article>
                <!-- ! PROPERTY CARD: End -->

            </li>



            <li>
                <!-- ! PROPERTY CARD: Start -->
                <article class="c-property-card">
                    <button class="c-property-card__btn icon-heart"></button>
                    <div class="c-property-card__gallery c-card-gallery">
                        <button class="c-property-card__btn icon-heart"></button>
                        <picture class="c-pic">
                            <img src="/assets/images/temp/imagen-propiedad.jpg" alt="Property 1">
                        </picture>
                    </div>
                    <div class="c-property-card__content">
                        <h3 class="c-property-card__heading u-heading">
                            <a class="c-property-card__link" href="#">
                                Apartamento en Punta del Este
                            </a>
                        </h3>
                        <ul class="c-property-card__features c-card-features">
                            <li class="c-card-features__item"><span class="icon-measuring-tape"></span>270 m<small>2</small></li>
                            <li class="c-card-features__item"><span class="icon-room"></span>3</li>
                            <li class="c-card-features__item"><span class="icon-bathroom"></span>2</li>
                        </ul>
                        <p class="c-property-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quisquam, quos.</p>
                        <p class="c-property-card__price">USD 1.080.000</p>
                        <p class="c-property-card__code">Código: LIJ3434</p>
                    </div>
                </article>
                <!-- ! PROPERTY CARD: End -->

            </li>

        </ul>
        <!-- ! CARDS GRID: End -->

    </div>

    <script src="/assets/js/sitio/tiny-slider.js"></script>
    <script src="/assets/js/sitio/component.card-slider.js"></script>


</body>

</html>