/* ******************************************** */
/** UTILITIES: GENERAL
/* ******************************************** */

/* TAP SIZE */

.u-tap-size{
    position: relative;
}


/* SEO */

.u-hidden-for-seo{
    position: absolute;
    left: -999rem;
}

/* BACKGROUND SECTION */

.u-bg{
    background-color: var(--color-neutral-200);
}


/* CENETERED */
.u-centered{
    text-align: center;
    margin-inline: auto;
}

/* PUSH */

.u-push-t{
    margin-top: calc(var(--section-y)*.5);
}

.u-push-b{
    margin-bottom: calc(var(--section-y)*.5);
}

.u-push-t-xl{
    margin-top: var(--section-y);
}

.u-push-b-xl{
    margin-bottom: var(--section-y);
}

/* RADIUS */

.u-radius-top{
    border-radius: var(--generic-radius) var(--generic-radius) 0 0;
}

.u-radius-bottom{
    border-radius: 0 0 var(--generic-radius) var(--generic-radius);
}

.u-radius{
    border-radius: var(--generic-radius);
}

.u-radius-top-left{
    border-top-left-radius: var(--generic-radius);
}

.u-radius-top-right{
    border-top-right-radius: var(--generic-radius);
}

.u-radius-bottom-left{
    border-bottom-left-radius: var(--generic-radius);
}

.u-radius-bottom-right{
    border-bottom-right-radius: var(--generic-radius);
}



/* ALIGN */

.u-align-end{
    margin-left: auto;
}