/* ******************************************** */
/** UTILITIES: TYPE
/* ******************************************** */

/*
  ! TEXT
  OVERRIDES:
    * // --text-fz
    * // --text-fw
    * // --text-lh
    * // --text-ls
    * // --text-color
    * // --text-strong-fw
    * // --text-strong-color
    * // --text-link-fw
    * // --text-link-color
    * // --text-hover-color
*/

.u-text{
    --_fz: 1.5rem;
    --_fw: 400;
    --_lh: 1.4;
    --_ls: -0.03em;
    --_max-w: none;
    
    font-size: var(--text-fz, var(--_fz));
    font-weight: var(--text-fw, var(--_fw));
    line-height: var(--text-lh, var(--_lh));
    letter-spacing: var(--text-ls, var(--_ls));
    color: var(--text-color, var(--color-neutral-800));
    max-width: var(--text-max-w, var(--_max-w));
}

strong.u-text{
    --_fw: 600;
}

.u-text + .u-text,
.u-text > * + *{
    margin-top: 1em;
}

.u-text h2,
.u-text h3,
.u-text h4,
.u-text h5{
    margin-top: 1.4em;
}

.u-text strong{
    font-weight: var(--text-strong-fw, 700);
    color: var(--text-strong-color, inherit);
}

.u-text a:not([class]){
    font-weight: var(--text-link-fw, inherit);
    color: var(--text-link-color, inherit);
}

.u-text--centered{
    --_max-w: 32em;
    text-align: center;
    margin-inline: auto;
}

.u-text ul{
    --_marker-size: .8em;
    text-align: left;
    list-style-type: disc;
    padding-left: 1.1em;
}

.u-text--centered ul{
    text-align: center;
    width: max-content;
    margin-inline: auto;
}

.u-text ul li::marker {
    font-size: var(--_marker-size);
    color: currentColor;
}


@media (hover: none){

    .u-text a:not([class]){
        position: relative;
    }
    .u-text a:not([class])::after{
        content: "";
        display: block;
        width: 100%;
        min-width: var(--tap-size);
        height: var(--tap-size);
        min-height: var(--tap-size);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (hover: hover) {

    .u-text a:not([class]):hover{
        color: var(--text-hover-color, var(--color-primary-400));
    }

}





/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem){ /* 359px */
}




/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
    

}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
    
    .u-text{
        --_fz: 1.6rem;
    }

}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}


/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}