/* ******************************************** */
/** COMPONENT: DUMMY
/* ******************************************** */

/* DUMMY */

.c-projects-nav {
    --_bg: var(--color-neutral-600);
    --_gap: 1.5rem;
    --_item-size: 8.2rem;
    --_img-max-width: calc(var(--_item-size) - 1rem);
    --_px: 1em;
    --_py: 1em;

    margin-inline: auto;
}

.c-projects-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-300) var(--color-neutral-600);
    -ms-overflow-style: auto;

    gap: var(--categories-list-gap, var(--_gap));
}


.c-projects-nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: var(--_item-size);
    height: var(--_item-size);
    border-radius: 50%;
    padding: var(--_py) var(--_px);
    background-color: var(--color-neutral-500);
    overflow: hidden;
}

.c-projects-nav__item.is-active {
    background-color: var(--color-primary-400);
}

.c-projects-nav__pic img {
    max-width: var(--_img-max-width);
}


/* ********************** MEDIA HOVER ********************** */

@media (hover: hover) {

    .c-projects-nav__item:not(.is-active):is(:hover, :focus) {
        background-color: hsl(var(--color-hover-hsl)/20%);
    }

}

/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */

}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {
    /* 980px */

    .c-projects-nav {
        --_img-max-width: 9.2rem;
        --_gap: 2.5rem;
    }

    .c-projects-nav__list {
        justify-content: center;
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}