/* ******************************************** */
/** COMPONENT: CATEGORIES
/* ******************************************** */

/* CATEGORIES */


.c-categories {
    --_bg: var(--color-neutral-600);
    --_icon-size: 3.2rem;
    --_fz: var(--fz-000);
    --_gap: 4.5rem;
    --_item-gap: 1.5rem;
    --text-color: var(--color-neutral-100);
    --text-fz: var(--_fz);

    max-width: 144rem;
    margin-inline: auto;
}

.c-categories__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: var(--categories-list-gap, var(--_gap));
    padding-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-300) var(--color-neutral-600);
    -ms-overflow-style: auto;
}

.c-categories__list::-webkit-scrollbar {
    display: block;
    height: .1rem;
}

.c-categories__list::-webkit-scrollbar-track {
    background: var(--color-neutral-600);
    border-radius: .3rem;
}

.c-categories__list::-webkit-scrollbar-thumb {
    background: var(--color-neutral-300);
    border-radius: .3rem;
}

.c-categories__list::-webkit-scrollbar-thumb:hover {
    background: var(--color-neutral-200);
}

.c-categories__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--categories-item-gap, var(--_item-gap));
}

.c-categories__icon {
    --_py: 1.5rem;
    --_px: 1.5rem;
    --_radius: 50%;
    --_bg: hsl(var(--color-neutral-300-hsl) / 30%);

    border-radius: var(--categories-item-radius, var(--_radius));
    padding: var(--categories-item-py, var(--_py)) var(--categories-item-px, var(--_px));
    font-size: var(--categories-item-fz, var(--_icon-size));
    background-color: var(--_bg);
    transition: background-color .3s ease-in-out;

}

.c-categories__item.is-active .c-categories__icon {
    background-color: var(--color-primary-400);
}

.c-categories__text {
    font-weight: 600;
    text-align: center;
    max-width: 10em;
    width: max-content;
    color: var(--text-color);
    font-size: var(--text-fz);
}


/* ********************** ONLY MOBILE ********************** */

@media (max-width: 47.9375rem) /* up to 767px */ { 

     .c-box .c-categories__list{
        margin-inline: var(--wrapper-x-n);
        padding-inline: var(--wrapper-x);
     }

}


/* ********************** MEDIA HOVER ********************** */

@media (hover: hover) {

    .c-categories__item:not(.is-active):is(:hover, :focus) {
        color: var(--color-hover);
    }

    .c-categories__item:not(.is-active):is(:hover, :focus) .c-categories__icon {
        background-color: hsl(var(--color-hover-hsl)/20%);
    }
}




/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {

    /* 980px */
    .c-categories {
        --_px: 12.5rem;
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}