/* ******************************************** */
/** COMPONENT: CARD PROPERTY
/* ******************************************** */

.c-property-card{
    --_gap: 2.5em;
    --_fz: var(--fz-200);
    --_fw: 400;
    --_lh: 1.1;
    --_radius: var(--generic-radius);
    --_py: 2.2rem;
    --_px: 1.6rem;
    --_price-fz: var(--fz-500);
    --_prize-color: var(--color-primary-400);

    --heading-fz: var(--fz-500);
    --heading-fw: 600;
    
    border-radius: var(--_radius);
    overflow: hidden;
    background-color: var(--card-bg, var(--color-neutral-600));
}

.c-property-card__btn{
    position: absolute;
    top: var(--property-card-py,var(--_py));
    right: var(--property-card-px,var(--_px));
    font-size: var(--fz-700);
    color: hsl(var(--color-neutral-500--hsl)/30%);
    z-index: 1;
}

.c-card-gallery{
    position: relative;
}

.c-card-gallery picture{
    position: relative;
}

.c-card-gallery .tns-outer picture{
    cursor: ew-resize;
}

.c-card-gallery picture::before{
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.c-card-gallery img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-card-gallery .tns-nav{
    --_nav-btn-size: var(--fz-000);
    position: absolute;
    width: 100%;
    bottom: 1.8rem;
    padding-inline: var(--property-card-px,var(--_px));
}

.c-property-card__content{
    text-align: center;
    padding: var(--property-card-py,var(--_py)) var(--property-card-px,var(--_px));
    font-size: var(--_fz);
}

.c-property-card__features{
    margin-top: .7em;
}

.c-card-features{
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

.c-card-features__item span[class*="icon-"]{
    display: inline-block;
    margin-right: .4em;
    font-size: 1.2em;
    vertical-align: middle;
    margin-top: -0.2em;
}

.c-card-features small{
    font-size: .6em;
    vertical-align: super;
}

.c-property-card__description{
    margin-top: .7em;
}

.c-property-card__price{
    font-family: var(--font-alt);
    font-size: var(--_price-fz);
    color: var(--_prize-color);
    margin-top: .5em;
}

.c-property-card__code{
    font-size: 1.2rem;
    margin-top: .7em;
}


/* ********************** MEDIA HOVER ********************** */

@media (hover: hover) { 

    .c-property-card{
        transition: box-shadow var(--generic-delay) ease-out;
    }

    .c-property-card:has(.c-property-card__link:hover){
        box-shadow: 0 0 0 0.6rem var(--color-hover);
        transition: box-shadow var(--generic-delay) ease-out;
    }

    .c-property-card__link:hover{
        color: var(--color-hover);
    }

    .c-property-card__btn:hover{
        color: var(--color-primary-400);
    }

}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
    .c-property-card{
        --heading-fz: var(--fz-300);
        --_price-fz: var(--fz-300);
    }
}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */

    
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}